/* .dashboard-widgets {
  display: grid;
  grid-template-columns: minmax(450px, 1fr) minmax(350px, 420px);
  gap: var(--spacing-xl);
  width: 100%;
  max-width: 100%;
}

.dashboard-main-content {
  min-width: 0;
}

.dashboard-sidebar-widgets {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  min-height: 100%;
} */


.dashboard-widgets {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  grid-template-rows: auto auto;
  gap: var(--spacing-lg);
  grid-auto-flow: row;
  grid-template-areas:
    "TimeTracking WeeklyGoal"
    "TimeTracking OvertimeHours"
    "WeekHistory WeekHistory";
}

.TimeTracking {
  grid-area: TimeTracking;
}

.WeeklyGoal {
  grid-area: WeeklyGoal;
}

.OvertimeHours {
  grid-area: OvertimeHours;
}

.WeekHistory {
  grid-area: WeekHistory;
}



@media (max-width: 1200px) {
  .dashboard-widgets {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "TimeTracking"
      "WeeklyGoal"
      "OvertimeHours"
      "WeekHistory";
  }
}

@media (max-width: 768px) {
  .dashboard-widgets {
    padding-bottom: var(--spacing-sm);
    gap: var(--spacing-md);
  }

  .dashboard-sidebar-widgets {
    gap: var(--spacing-md);
  }
}